#.bashplug/control

C_hlw="\033[1;40;37m"
C_hlb="\033[1;40;34m"
C_hlg="\033[0;00;37m"

C_gry="\033[0;00;37m"

C_inf="\033[0;00;34m"
C_wrn="\033[0;00;35m"
C_suc="\033[0;00;32m"

C_err="\033[1;37;41m"
C_sth="\033[2;34;33m"
C_hlw="\033[1;40;37m"
C_lnk="\033[4;30;34m"
C_lnd="\033[24;34m"
C_inv="\033[7;30m"
C_rst="\033[0;00;00m"
newln="$C_rst\n"

# print functions
#function prnt()     { echo -ne "$C_rst""$*"        ; }
function prnt()      { echo -ne         "$*"        ; }
#function prnt()     { echo -ne         "$*""$C_rst"; }

function prnt_gray() { echo -ne "$C_rst""$C_gry""$*"; }

function prnt_info() { echo -ne "$C_rst""$C_inf""$*""$C_rst$newln"; }
function prnt_warn() { echo -ne "$C_rst""$C_wrn""$*""$C_rst$newln"; }
function prnt_succ() { echo -ne "$C_rst""$C_suc""$*""$C_rst$newln"; }
function prnt_summ() { echo -ne "$C_rst""$C_hlw""$*""$C_rst$newln"; }
function eerr()      { echo -ne "$C_rst""$C_err""$*""$C_rst$newln"; }
alias prnt_err='eerr $*'

# -----------------------------------------------------------------------------
# block hl
fix_char="•"
function do_prefix() { prnt "$C_hlb""$fix_char "; }
function do_suffix() {
  local header="$*"; local color="$C_hlg"; prnt "$color"
  local length=${#header}; local col=80; 
  local fill=$((col-length))
  for  ((i=0; i<$fill; i++)); do prnt "$fix_char"; done
}
function prnt_head() { 
  local name="$*"
  do_prefix; prnt "$name "; do_suffix "$name"; prnt "\n"
}

# readkey with condition
function cond_eval()
{
  local func="$1"
  local message="${@:2}"
  local input=""
  local accept="[y/n]"
  local accept_key="y"

  prnt_warn "$message $accept"
  
  read input
  if [ "$input" == "$accept_key" ]
  then
    prnt_info "executing: $func"
    eval $func
  else
    prnt_info "nothing to do"
  fi
}

# variable not empty
function not_empty()
{
  prnt_warn "TODO"

  if [ "$1" != "" ]
  then
    prnt_info "variable is not empty, so do something"
  else
    prnt_info "variable is empty, so do something else"
  fi
}




# test str
#C_test_sth="$C_sth: C_sth string $C_rst$newln"
#C_test_hlw="$C_hlw: C_hlw string $C_rst$newln"
#C_test_lnk="$C_lnk: C_lnk string $C_rst$newln"
#C_test_lnd="$C_lnd: C_lnd string $C_rst$newln"
#C_test_inv="$C_inv: C_inv string $C_rst$newln"
#C_test="$C_test_sth$C_test_hlw$C_test_lnk$C_test_lnd$C_test_inv"
#function prnt_test   { echo -ne "$C_test""$*""$C_rst$newln"; }

function version()
{ 
  local  style="$C_lnk"
  prnt "$style""version: $VERSION\n"
}
